.img-cards {
  height: 100%;
  width: 100%;
  border: solid .2rem;
}

.aside-cards {
  width: 100%;
}

#ul-cards {
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr 160px 1fr 160px 1fr 160px 1fr;
}

.h1-cards {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 30px;
  font-display: bold;
  align-content: center;
  justify-self: center;
  z-index: 1;
}

.li-cards {
  grid-column: 2 / 3;
}

.li-cards:hover {
  display: pointer;
}

#list-cards1 {
  grid-row: 2 / 3;
}

#list-cards2 {
  grid-row: 4 / 5;
}

#list-cards3 {
  grid-row: 6 / 7;
}

.h3-cards {
  font-size: 15px;
  text-align: center;
  z-index: 1;
  pointer-events: none;
}