@media screen and (min-width: 800px) {  
  body {
  grid-template-areas: 
  "header header"
  "navbar navbar"
  "main main"
  "footer footer";
  grid-template-rows: 100px 50px 1fr 100px;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  }
  }
  
  #main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;
  }

  #contact-h1 {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  
  .contact-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 300px;
    border: solid .2rem;
  }

  .close-button {
    border-radius: 30px;
    padding: 5px 10px;
  }

  .modal {
    max-width: 70vw;
  }

  .modal::backdrop {
    background-color: var(--forms-background);
  }

  