#main {
  display: flex;
  flex-direction: row;
}

#main img {
  float: right;
  width: 70%;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}


/* cards for cities on main page */
.img-cards {
  height: 75%;
  width: 100%;
  border: solid .2rem;
}

.state-cards {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}

#ul-cards {
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
}

.h1-cards {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  font-size: 30px;
  font-display: bold;
  align-content: center;
  justify-self: center;
  z-index: 1;
}

.li-cards:hover {
  display: pointer;
}

#list-cards1 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

#list-cards2 {
  grid-row: 4 / 5;
  grid-column: 4 / 5;
}

#list-cards3 {
  grid-row: 4 / 5;
  grid-column: 6 / 7;
}

.h3-cards {
  font-size: 15px;
  text-align: center;
  z-index: 1;
  pointer-events: none;
}

/* map on home page */
#map {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map iframe {
  width: 100%;
  height: 100%;
  padding: 10px;
}

/* adaptive layouts for screen sizes */
@media screen and (min-width: 800px) {  
  body {
  grid-template-areas: 
  "header header header"
  "navbar navbar navbar"
  "facts main main"
  "state-cards state-cards state-cards"
  "map map map"
  "footer footer footer";
  grid-template-rows: 100px 50px .5fr .5fr 1fr 150px;
  grid-template-columns: 250px 1fr 1fr;
  }
  }
@media screen and (max-width: 800px) {
  body {
  grid-template-areas: 
  "header header"
  "navbar navbar"
  "main main"
  "facts facts"
  "state-cards state-cards"
  "map map"
  "footer footer";
  grid-template-rows: 100px 50px 1fr .5fr .5fr 1fr 150px;
  grid-template-columns: 1fr 1fr;
}
.state-cards {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}
}

  