@media screen and (min-width: 800px) {  
  body {
  grid-template-areas: 
  "header header"
  "navbar navbar"
  "main main"
  "footer footer";
  grid-template-rows: 100px 50px 1fr 150px;
  grid-template-columns: 1fr 1fr;
  }
  }
  
#main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobs-headings {
  position: absolute;
  top: 200px;
}

table, th, td {
  border: 1px solid black;
}

table {
  position: relative;
  padding: 2px;
  width: 70%;
  }