#main {
  height: 75vh;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.jobs-headings {
  position: absolute;
  left: 45%;
  top: 150px;
  /* transform: translate(-50%, 0); */
}

table, th, td {
  border: 1px solid black;
}

table {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 25px 0;
  padding: 2px;
  width: 70%;
  height: 70%;
}

@media screen and (min-width: 800px) {  
  body {
  grid-template-areas: 
  "header header header"
  "navbar navbar navbar"
  "facts main main"
  "footer footer footer";
  grid-template-rows: 100px 50px 1fr 150px;
  grid-template-columns: 250px 1fr 1fr;
  }
}
 
@media screen and (max-width: 800px) {
  body {
  grid-template-areas: 
  "header header"
  "navbar navbar"
  "main main"
  "facts facts"
  "footer footer";
  grid-template-rows: 100px 50px 1fr .5fr  150px;
  grid-template-columns: 1fr 1fr;
  }
}