:root {
  --background: #f1f1f1;
  --background-secondary: #d7d7d7;
  --text: #333333;
  --headings: #B2441E;
  --links: #1f89ad;
  --links-hover: #ffb612;
  --buttons: #1f89ad;
  --buttons-hover: #ffb612;
  --forms: #f1f1f1;
  --forms-text: #333333;
  --forms-background: #edf5f8;
  --forms-border: #949494;
  --success-messages: #463D29;
  --error-messages: #ffb612;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

.headings {
  color: var(--headings);
}

.text {
  color: var(--text);
}

.buttons {
  background-color: var(--buttons);
  color: var(--forms-text);
}

.buttons:hover {
  background-color: var(--buttons-hover);
  cursor: pointer;
}

body {
  display: grid;
  background-color: var(--background);
}

#header {
  grid-area: header;
}

#navbar {
  grid-area: navbar;
}

#sidebar {
  grid-area: sidebar;
}

#main {
  grid-area: main;
}

#facts {
  grid-area: facts;
}

#map {
  grid-area: map;
}

#footer {
  grid-area: footer;
}



/* ..........header.......... */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

#flag {
  height: 80px;
  width: 160px;
  cursor: pointer;
}

#Seal {
  height: 80px;
  width: 80px;
  cursor: pointer;
}

#title {
  font-size: 50px;
  font-style: bold;
}

/* ..........navbar.......... */
#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--background-secondary);
}

.checkBtn {
  display: none;
  margin-right: 100px;
  cursor: pointer;
  font-size: 30px;
  float: right;
  line-height: 80px;
}

#check {
  display: none;
}

#navbar-menu ul {
  display: flex;
  margin: 0px 50px;
  list-style: none;
}

#navbar-menu ul li a {
  padding: 5px 10px;
  margin: 0px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  transition: all 1s;
}

.dropdown {
  opacity: 0;
  position: absolute;
  width: 15rem;
  z-index: 2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20rem;
  margin-top: 2rem;
  padding: 2rem;
  transform: translateX(-40%);
  transition: opacity .15s ease-out;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width:805px) {
  #navbar-list {
    width: 100%;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly;
    top: 150px;
    left: 100%;
    transition: all 1s;
  }

  #check {
    display: none;
  }

  .checkBtn {
    display: block;
  }

  #check:checked~ul {
    left: 0%;
  }
}

/* ..........main.......... */
#main h1 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-style: bold;
}

#main p {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

/* ........aside style........... */
#facts {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
}

#facts-cards {
  list-style: none;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr 1fr 1fr;
}

#header-facts {
  font-size: 30px;
  font-display: bold;
  align-content: center;
  text-align:  center;
  padding: 10px 0;
}

.facts-cards {
  grid-column: 2 / 3;
  align-content: center;
  text-align: center;
}

#facts-cards-1 {
  grid-row: 1 / 2;
}

#facts-cards-2 {
  grid-row: 2 / 3;
}

#facts-cards-3 {
  grid-row: 3 / 4;
}

.facts-text {
  padding: 5px 0;
  font-size: 12px;
}



/* ..........footer.......... */
#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-secondary);
  padding: 10px;
  font-size: 20px;
}

.external-links {
  list-style: none;
}

h3 {
  font-size: 15px;
}

ol li {
  font-size: 12px;
  padding-right: 5px;
}

.refferences {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}